---
layout: default
author_profile: true
---
<div id="main" , role="main">
    <h1 style="margin-top:10px;text-align:center;"> {{ page.title }} </h1>
    <div style="text-align:center;" class="publication-authors">{{ page.authors }}</div>
    <div style="text-align:center;" class="publication-info">{{ page.publication }}</div>
    <div style="margin-top:10px;text-align:center;" class="publication-teaser">
        <img src="/assets/images/pub/{{ page.slug }}_teaser.png" alt="project teaser" />
    </div>
  <p>
    {% if pub.website != null %}
    <a href="{{pub.website}}" target="_blank" class="btn btn--primary">Official website</a>
    {% endif %}

    {% if pub.paper != null %}
    <a href="{{pub.paper}}" target="_blank" class="btn btn--primary">Paper</a>
    {% endif %}

    {% if pub.code != null %}
    <a href="{{pub.code}}" target="_blank" class="btn btn--primary">Code</a>
    {% endif %}

    {% if pub.slides != null %}
    <a href="{{pub.slides}}" target="_blank" class="btn btn--primary">Slides</a>
    {% endif %}

    {% if pub.presentation_slides_video != null %}
    <a href="{{pub.presentation_slides_video}}" target="_blank" class="btn btn--primary">Presentation
      slides video</a>
    {% endif %}

    {% if pub.supplementary != null %}
    <a href="{{pub.supplementary}}" target="_blank" class="btn btn--primary">Supplementary</a>
    {% endif %}

    {% if pub.supplemental_video != null %}
    <a href="{{pub.supplemental_video}}" target="_blank" class="btn btn--primary">Supplemental video</a>
    {% endif %}

    {% if pub.doi != null %}
    <a href="{{pub.doi}}" target="_blank" class="btn btn--primary">DOI</a>
    {% endif %}

  </p>
    {{ content }}

</div>
